body{
    font-family: 'Roboto', sans-serif;
    background-color: #e6e7e8;
    font-size: 10px;
    letter-spacing: 0.5px;
}

p{
    line-height: 2em;
}

img{
    max-width: 100%;
}

a{
    color: #666;
}

a:hover{
    text-decoration: none;
}

a .title{
    color: black;
}

a .title:hover{
    text-decoration: none;
    color:#666;
}

#content{
    margin-bottom: 50px;
}

.navbar-toggle{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
}

.navbar-default, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .nav-stacked>li>a:hover, .nav-stacked>li>a:active{
    background-color: inherit;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle{
    border: 0px;
}

.nav>li>a{
    padding-left: 0px;
    font-size: 12px;
}

.title{
    margin: 10px 0;
}

.box{
    margin-bottom: 30px;
}

.carousel-indicators{
    top: 104%;
    text-align: right;
    left: 70%;
}

.carousel-indicators .active {
    background-color: #8c8c8c;
}

.carousel-indicators li{
    background-color: #cccccc;
    border: 1px solid #cccccc;
}

#project .box:first-child{
    margin-bottom: 0px;
}

#project .section-header{
    font-size: 12px;
}

.detail{
    margin-bottom: 20px;
}

.post{
    margin: 30px 0;
}

.detail p{
    font-size: 12px;
}

.section-header{
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px){
    .nav-stacked>li{
        text-align: right;
    }

    .nav-stacked>li>a:first-child{
        padding-bottom: 1px;
    }

    .nav-stacked>li>a:nth-child(2){
        padding-top: 1px;
    }

    .post{
        margin: 60px 0;
    }

    .detail{
        margin-bottom: 30px;
    }

    #content{
        margin-bottom: 120px;
    }
}